body,
html {
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D0D0D;
}

.main-wrapper {
  display: flex;
  max-width: 1500px;
  flex-direction: column;
  align-items: center;
}

.onyx-group {
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  font-size: 18px;
}

.button-group button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  margin: 8px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.accent-text {
  background-image: linear-gradient(90deg, hsl(338, 75%, 67%) 0%, hsl(251, 44%, 65%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.button-group {
  margin-right: 50px;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 750px;
}

.sticky-header {
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  top: 20px;
  background-color: #18191a;
  border-radius: 50px;
  background: #18191a;
  border: 1px solid #595656;
  z-index: 1000;
  padding: 10px;
}

.content-column,
.savvy-logo-column {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
}

.content-column {
  background-color: #0D0D0D;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-title {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-size: 50px;
  font-weight: 600;
  margin-left: 50px;

}

.content-body {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
  margin-left: 50px;
}

.savvy-logo {
  width: 100%;
}

.start-button-container {
  margin-top: 25px;
  margin-left: 50px;
}

.start-button-container button {
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  margin: 8px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

/* Tutorial Segment */

.tutorial-container {
  display: flex;
  flex-direction: row;
  height: 600px;
  align-items: center;
}

.tutorial-content-column,
.tutorial-gif-column {
  flex: 1 1 50%;
  display: flex;
}

.tutorial-content-column {
  background-color: #0D0D0D;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

.tutorial-title {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-size: 50px;
  font-weight: 600;
  margin-right: 50px;
  text-align: left;
}

.tutorial-body {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
  margin-right: 50px;
  text-align: left;
}

.tutorial-gif-column {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorial-gif video {
  border-radius: 20px;
}

/* Team Segment */

.team-container {
  display: flex;
  flex-direction: column;
  height: 1200px;
  align-items: center;
  justify-content: flex-start;
}

.team-title-row {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 120px;
}

.team-members-wrapper {
  margin-top: 45px;
}